/* =====
Import
===== */

@import url("https://use.typekit.net/hgp2pbx.css");

/* =====
Variables
===== */

:root {
    /* Colours */
    --black-1: #0A0A0A;
    --black-2: #0E0E0E;
    --black-3: #131313;
    --grey-1: #333333;
    --grey-2: #525252;
    --grey-3: #666666;
    --grey-4: #ADADAD;
    --grey-5: #E0E0E0;
    --white-1: #F5F5F5;
    --white-2: #FAFAFA;
    --white-3: #FFFFFF;
    --cyan-1: #021211;
    --cyan-2: #0F6C66;
    --cyan-3: #16A298;
    --cyan-4: #1BC5BA;
    --cyan-5: #28E2D5;
    --cyan-6: #4BE7DC;
    --cyan-7: #6FEBE3;
    --cyan-8: #93F0EA;
    --cyan-9: #B7F5F1;
    --cyan-10: #DBFAF8;
    /* Typography */
    --font-heading: 'soleil', Helvetica, Arial, sans-serif;
    --font-body: 'soleil', Helvetica, Arial, sans-serif;
    --font-size-display_large: 5rem;
    --font-size-display_medium: 4rem;
    --font-size-display_small: 3rem;
    --font-size-main_heading: 2rem;
    --font-size-sub_heading: 1.3rem;
    --font-size-body: 1rem;
    --font-size-sub_body: 0.8rem;
    --font-weight-black: 800;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-weight-light: 300;
    --line-height-large: 1.8em;
    --line-height-normal: 1.5em;
    --line-height-tight: 1.1em;
    /* Padding */
    --padding-large: 50px;
    --padding-medium: 30px;
    --padding: 15px;
    --padding-small: 10px;
    --padding-tight: 5px;
    /* Margin */
    --margin-v-large: 3.125rem;
    --margin-v-medium: 1.875rem;
    --margin-v: 1rem;
    --margin-v-small: 0.625rem;
    --margin-v-tight: 0.3125rem;
    --margin-h-large: 50px;
    --margin-h-medium: 30px;
    --margin-h: 15px;
    --margin-h-small: 10px;
    --margin-h-tight: 5px;
    /* Borders */
    --border_weight-normal: 1px;
    /* Border-Radius */
    --border_radius-large: 10px;
    --border_radius-medium: 5px;
    --border_radius-small: 3px;
}

/* =====
Global
===== */

div {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-normal);
    color: var(--black-3);
}

/* =====
Meta
===== */

/* Meta Titles */
.metaTitle {
    font-size: var(--font-size-sub_heading);
    font-weight: var(--font-weight-light);
    padding-bottom: var(--padding-small);
    margin-bottom: var(--margin-h-medium);
    border-bottom: var(--border_weight-normal) solid var(--grey-4);
}

/*Meta Type Previews*/
.metaType {
    display: grid;
    grid-template-columns: 200px auto;
    margin-bottom: var(--margin-v-medium);
}

.metaType_Info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.metaType_Info>span:first-of-type {
    font-size: var(--font-size-sub_body);
    font-weight: var(--font-weight-bold);
}
.metaType_Info>span:last-of-type {
    font-size: var(--font-size-sub_body);
    color: var(--grey-3);
}

.metaType_Sample {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--padding-medium) var(--padding-medium);
}

/* =====
Body
===== */

/* Default Page */
body.pageDefault {
    background-color: var(--white-1);
}

/* =====
Typography
===== */

/* Display Large */
.displayLarge {
    font-family: var(--font-heading);
    font-size: var(--font-size-display_large);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-tight);
    margin-bottom: 0;
}

/* Display Medium */
.displayMedium {
    font-family: var(--font-heading);
    font-size: var(--font-size-display_medium);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-tight);
    margin-bottom: 0;
}

/* Display Small */
.displaySmall {
    font-family: var(--font-heading);
    font-size: var(--font-size-display_small);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-tight);
    margin-bottom: 0;
}

/* Main Heading */
.headingMain {
    font-family: var(--font-heading);
    font-size: var(--font-size-main_heading);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    margin-bottom: 0;
}

/* Sub Heading */
.headingSub {
    font-family: var(--font-heading);
    font-size: var(--font-size-sub_heading);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    margin-bottom: 0;
}

/* Body */
.body {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    margin-bottom: 0;
}

/* Sub Body */
.bodySub {
    font-family: var(--font-sub_body);
    font-size: var(--font-size-sub_body);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    margin-bottom: 0;
}

/* QUotation Mark */
.quoteMark {
    font-family: var(--font-heading);
    font-size: var(--font-size-display_medium);
    font-weight: var(--font-weight-bold);
    line-height: 0;
    margin-bottom: 0;
}

/* Quotation Statement */
.quoteStatement {
    font-family: var(--font-heading);
    font-size: var(--font-size-main_heading);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    margin-bottom: 0;
}

/* Buttons */

.buttonText {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-bold);
    line-height: 0;
}

/* =====
Sections
===== */

/* Body Content */
#bodyContent {
    display: block;
    width: 100%;
}

/* Section - Wide */
.sectionWide {
    max-width: 1200px;
    padding: var(--padding);
    margin: 0 auto;
}

/* Section - Slim */
.sectionSlim {
    max-width: 600px;
    padding: var(--padding);
    margin: 0 auto;
}